* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* background-image: url(../img/5c99b7f6404e2.jpg); */
	/* background-size: cover;
	background-repeat: no-repeat; */
}

video {
	width: 100%;
	max-width: 60%;
	height: auto;
	max-height: 700px;
	margin-left: 20%;
	margin-top: 100px;
	
	outline: none;
}

canvas {
	width: 99%;
	/* z-index: -1; */
	position: absolute;
	-moz-position:absolute;
}

h2 {
	color: white;
	margin-top: 20px;
	background: #272B43;
	padding: 15px;
	border-radius: 5px;
	width: 20%;
	text-align: center;
}

.divtop {
	width: 100%;
	height: 80px;
}

.divleft {
	background: blanchedalmond;
	width: 200px;
}

.divright {
	width: 100%;
	position: relative;
}



.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;

}

.lileft {
	background: #009688;
	color: white;
}

.music {
	background: #01AAED;
}

@keyframes ro-img1 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes ro-img1 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.ro-img {
	border-radius: 50%;
	max-height: 22%;
	max-width: 22%;
	margin-top: 50px;
	animation: ro-img1 16s linear infinite;
}

/* .ro-unimg {
	animation: ro-img1   linear infinite;
} */

.middle-table {
	border: 1px solid rgba(84, 77, 71, 0.4);
	box-shadow: 0px 0px 15px rgba(84, 77, 71, 0.6) inset;
	width: 550px;
	height: 400px;
	margin: auto;
	margin-top: 300px;
	background-color: rgba(170, 123, 93, 0.4);
	border-radius: 12px;
}

.firstpage-btn {
	background-color: transparent;
	outline: ;
	background-image: url(../img/ic_next.png);
	background-size: 100% 100%;
	height: 50px;
	width: 100px;
}

.firstpage-href {
	position: fixed;
	bottom: 30px;
	right: 20px;
}

.firstpage-href span {
	font-size: 60px;
	color: rgba(225, 225, 225, 0.5);
}

.secondpage-vedio {
	margin-top: 200px;
	margin-left: 700px;
}

.secondpage-href {
	position: fixed;
	bottom: 30px;
	left: 20px;
}

.secondpage-href span {
	font-size: 60px;
	color: rgba(151, 121, 93, 0.5);
}

.secondpage-inav {
	background-color: #E4E0DD;
	border: none;
}

/* 播放器背景*/
.divplayer {
	margin-top: 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	align-items: center;
	/* border: 1px solid #009F95; */
	border-radius: 20px;
	margin-left: 30%;
	margin-right: 30%;
	padding: 50px;
	background: url(../img/ic_mbg.jpg) no-repeat;
	background-size: 100% 100%;
}

/*进度条样式*/
.progressBar {
	height: 5px;
	bottom: 35px;
	/* width: 90%; */
	width: 400px;
	background: #cccccc;
	margin-left: 10px;
	border-radius: 35px;
}

.progressBar div {
	position: absolute;
}

.pr-bg {
	background: orangered;
	width: 0px;
	height: 5px;
	border-radius: 35px;
}

/*进度条圆点*/
.drag {
	width: 15px;
	height: 15px;
	background: palevioletred;
	margin-top: -5px;
	/* opacity: 0.9; */
	border-radius: 50px;
	/* box-shadow: #fff 0 0 5px; */
}

.img-big {
	border-radius: 50%;
	max-height: 22%;
	max-width: 22%;
	margin-top: 50px;
}
